# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Visual Studio / VS Code
.vs/
.vscode/
*.suo
*.user

# Build
/bin/
/obj/

# Z3 distribution (large binaries)
/z3-4.12.1-x64-win/

# Dataset/results
*.csv
*.txt
